<style type="text/css">
#waste{}

#container
{
	margin-left:60px;
	margin-right:60px;
}

#item_pic
{
	float:left;
	width:240px;
	padding: 10px;	
	margin-right:20px;		
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
}

#title_div
{
	margin-left:275px;
	margin-bottom:0px;
}

#time_div
{
	
}

#listing_time
{
	float:left;
}

#mid_column
{
	width:410px;
	height:285px;
	float:left;
	margin-top: .5em;
	margin-left:0px;
	margin:8px;
}

#mid_column_wrap
{
	width:425px;
	height:285px;
	float:left;

	moz-box-shadow: 0 0 5px 5px #888;
	webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 3px #888;

}

#mid_column_inner
{
	width:410px;
	background-color:#E0F8F7;
	float:left;
	margin-top: .5em;
	margin-left:0px;
}

.bid_box_label
{
	float:left;
	display:block;
	padding:.3em;
	border: 1px solid blue;
	width:400px;
	text-align:center;
	color:#FFFF00;
	background-color:#0000FF;
}

.bid_first_col
{
	width:100px;
}

#bid_mid_col
{
	width:300px;
}

#buy_it_now_label
{
	margin-top:.5em;
}

#bid_entry_box
{
	width:75px;
}


#seller_column
{
	width;400px;
	height:285px;
	float:left;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 3px #888;
}


#seller_left
{
	width:170px;
	height:285px;
	float:left;
}

#seller_right
{
	height:285px;
	float:left;
}

#seller_pic
{
	width:150px;
}

#seller_name_label_wrap
{
	margin-top: .5em;
}

#description_label
{
	width:100%;
	background-color:#0000FF;
	clear:both;
	float:left;
	display:block;
	padding-top:.3em;
	padding-bottom:.3em;
	border: 1px solid blue;
	width:100%;
	text-align:center;
	color:#FFFF00;
	margin-top:8px;
}

#description_box
{
	width:100%;
	height:200px;
	border:solid 1px;
	margin-top:330px;
}

</style>
