.click-bubble
{
	@title-color: #4673b2;
	@user-color: #ffbd56;
	@fb-color: blue;
	@time-color: gray;
	@calendar-color: #87c2ff;
	@money-color: #00BB00;
	@bed-color: #d25555;
	@apt-color: black;
	@button-color: #d25555;
	img
	{
		height: 100px;
		width: 125px;
		display: inline-block;
		float: left;
		margin-top: 2px;
	}
	#sublet-name
	{
		color: @title-color;
		font-style: normal;
		font-weight: bold;
	}
	#posted-time
	{
		font-size: 12px;
		font-style: normal;
	}
	.click-bubble-data
	{
		display: inline-block;
		float: left;
		margin-left: 10px;
		position: relative;
	}
	.bold-text
	{
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
	}
	.gray-text
	{
		color: gray;
	}
	.icon-map-marker
	{
		color: @title-color;
		margin-right: 5px;
	}
	.icon-user
	{
		color: @user-color;
		margin-right: 5px;
	}
	.icon-facebook-sign
	{
		color: @fb-color;
		margin-left: 5px;
		margin-right: 2px;
	}
	.icon-time
	{
		color: @time-color;
		margin-left: 5px;
		margin-right: 2px;
	}
	.icon-calendar
	{
		color: @calendar-color;
		margin-right: 5px;
	}
	.icon-money-sign
	{
		color: @money-color;
		margin-right: 6px;
		margin-left: 1px;
		font-style: normal;
		font-weight: bolder;
		font-size: 16px;
	}
	.icon-building
	{
		margin-right: 5px;
	}
	.extended-buttons
	{
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 16px;
		a
		{
			text-decoration: none;
			i
			{
				color: @button-color;
			}
		}
	}
}