#edit_sublet_window
{
	.container-fluid
	{
		margin-top: 20px;
		label
		{
			line-height: 30px;
		}
		#map-message
		{
			display: none;
		}
		#map-message-arrow
		{
			display: none;
		}
		#map-background
		{
			background-color: white;
			height: 350px;
			padding: 10px;
			#correctLocationMap
			{
				height: 100%;
				width: 100%;
				img { max-width: none !important; }
			}
		}
	}
}