#FLDash{
    position: relative;
    overflow: auto;
     .listing-wrapper{
            background-color: #f4f4f4;
            border: 1px solid #cacaca;
            border-radius: 5px;
            // padding: 5px;
            h4{
                text-align: center;
            }
        }
    .left-content{
        // position: absolute;

        min-width: 250px;
        
        .marker-item{
            position: relative;
            border-top: 2px solid #dbdbdb;
            
            ul{
                display:none;
                // margin:0;
                // background: #f9f9f9;
            }
            .marker-info{
                padding: 5px;

                i{
                    padding-right: 3px;
                    font-size: 8px;
                }   
                
                &:hover{
                    cursor: pointer;
                    background: #fafafa;
                }
            }
         
        }
        .listing-item{
            list-style-type: none;
            position: relative;
            // border-top: 2px solid #e3e3e3;
            
            padding: 5px;
            // padding-left:20px;

            
            .listing-icon{
                padding-right: 10px;
            }
    
            .feature-star{
                position: absolute;
                right: 20px;
                // padding-right: 20px;
                font-size: 22px;
            }
            .feature-star:hover{
                cursor: pointer;
            }


        }

        .icon-star{
            color: #f6e617;
        }
        .listing:hover{
            background: #f6f6f6;            
        };

        .instructions{
            font-size: 14px;
            padding: 5px;

        }

        .hidden{
            visibility: hidden;
        }
    }

    .middle-content{
        position:relative;
        min-width: 250px;

        .editing{
            background: #ebf6fc;
        }

        .icon-remove{
            cursor: pointer;
            float: right;
        }

        .actions > a{
            padding: 5px;
            font-size: 16px;
            color: #333;
        }
        .actions > a:hover{
            text-decoration: none;
            color: #666;
        }
        tfoot{
            font-size: 15px;
            td{
                font-weight: bold;
                color: #4ae05c;
            }
        }

        #noListingSelected{
            text-align: center;
        }

        // #buyNow{
        //     position: absolute;
        //     bottom: 30px;
        //     right: 5px;
        // }
    }

    .right-content{
        // position: absolute;
        // top: 0;
        // bottom: 0;
        // left: 320px;
        min-width: 250px;
        
        

        .mdp > .ui-datepicker{
            // display: block;
            margin: auto;
            width: 100%;
        }

        #orderingInstructions{
            padding:10px;
        }

        

    }

    .fl_form{
        
    }
    .orderingInfo{
            display: none;
    }


}


/* Jquery UI Datepicker hacks  WOOP WOOP */

span.nextmonth{
    padding-left: 5px;
    top:23% !important;
}

span.prevmonth{
    padding-right: 5px;
    top:23% !important;   
}
.ui-datepicker-next:hover, .ui-datepicker-prev:hover{
    cursor: pointer;
}

table.ui-datepicker-calendar {border-collapse: separate;}
.ui-datepicker-calendar td {border: 1px solid transparent;}

.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
    background: #ebf6fc none; /* a color that fits the widget theme */
    color: #606060; /* a color that is readeable with the color above */
}



/* Featured Listing Map CSS */

.featured-listing-map-sidebar{
    @SidebarWidth: 350px;
    width: @SidebarWidth;

    .map-listing-item{
        position: relative;
        border-top: 1px solid #c1c1c1;
        height: 70px;
        
        background: #f5f5f5;

        .property-picture{
            position:absolute;
            left: 10px;
            top: 7px;

            height: 55px;
            width: 60px;

            img{
                border-radius: 2px;
            }
        }

        .listing-info{
            @BorderColor: #d5d5d5;

            position: absolute;
            height: 100%;
            left: 85px;
            right: 0;

            .top-section{
                position:relative;
                height: 30px;
                margin-top: 5px;
                line-height: 35px;
                
                .left{
                    position: absolute;
                    left:0;
                    right: 75px;

                    border-right: 2px solid @BorderColor;
                    border-bottom: 2px solid @BorderColor;

                    .favorite-listing{
                        
                        float: right;
                        padding-top: 4px;
                        padding-right: 10px;
                        // font-size: 13px;
                        color: #bbbbbb;
                     
                        i.icon-heart{ //little fix to center the heart within the circle
                            padding-top: 1px;
                            // padding-left: 1px;
                        }                         
                        &:hover{
                            cursor: pointer;
                            color: #d89090;
                        }
                    }
                        
                }

                .right{
                    
                    position: absolute;
                    right: 0;
                    width: 75px;
                    text-align: center;
                    .price{
                        font-size: 16px;
                        color: #6bac74;
                    }

                    .bottom-border{
                        position:absolute;
                        bottom: -2px; // hacky to get the two borders to line up
                        right:30px;
                        width:45px;
                        border-bottom: 2px solid @BorderColor;
                    }

                }
                
            }


            .bottom-section{
                position:relative;
                color: #80838a;
                padding-top: 10px;
                font-size: 12px;
                // overflow: auto;
                span.listing-type{
                    width:30%;
                }
                span.num-occupants{
                    width:18%;
                }
                span.lease-type{
                    width: 25%;
                }
                span.lease-duration{
                    width: 20%;
                }

                span{
                //     // padding-left: 4px;
                //     // padding-right: 4px;
                //     width: 23%; 
                    display:inline-block;
                //     // margin: auto;
                }
            }

        }


    }


}










@widget_width: 350px;
.fl_sidebar{    
    width: @widget_width;
    #listings_list{
        overflow: auto;
    }
}
.test-controls{
    padding-top: 20px;
}


