#FLDash{
    position: relative;

    .left-content{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 300px;
        background: #e9e9e9;

        .listing-item{
            width: 300px;
            border-top: 2px solid #dbdbdb;
            padding: 5px;
            
            .feature-star{
                padding-right: 20px;
                font-size: 22px;
            }
            .feature-star:hover{
                cursor: pointer;
            }


        }

        .icon-star{
            color: #f6e617;
        }
        .listing:hover{
            background: #f6f6f6;            
        };

        .instructions{
            font-size: 14px;
            padding: 5px;

        }

        .hidden{
            visibility: hidden;
        }
    }

    .right-content{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 320px;
        display: none;

        .editing{
            background: #fbfdee;
        }

        .icon-remove{
            cursor: pointer;
            float: right;
        }

        .actions > a{
            padding: 5px;
            font-size: 16px;
            color: #333;
        }
        .actions > a:hover{
            text-decoration: none;
            color: #666;
        }

    }

    .fl_form{
        
    }


}

/* Jquery UI Datepicker hacks  WOOP WOOP */

span.nextmonth{
    padding-left: 5px;
    top:23% !important;
}

span.prevmonth{
    padding-right: 5px;
    top:23% !important;   
}
.ui-datepicker-next:hover, .ui-datepicker-prev:hover{
    cursor: pointer;
}

table.ui-datepicker-calendar {border-collapse: separate;}
.ui-datepicker-calendar td {border: 1px solid transparent;}

.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
    background: #ebf6fc none; /* a color that fits the widget theme */
    color: #606060; /* a color that is readeable with the color above */
}














@widget_width: 350px;
.fl_sidebar{    
    width: @widget_width;
    #listings_list{
        overflow: auto;
    }
}
.test-controls{
    padding-top: 20px;
}


