@color: #111111; //#499bea;
@stop-color: #27282b; //#207ce5;
@compact-width: 800px;
@btn-contains-height: 22px;
body
{
	padding: 0;
}

#header
{
	.navbar-inner
	{
		background-color: #383838;
		background-image: url(/img/header/header_bg.png);
		.container
		{
			background-image: url(/img/header/noise.png);
		}
	}
	.header_logo
	{
		padding: 18px 15px;
		border-right: solid 1px black;
		img
		{
			width: 120px;
			margin-top: 5px;
		}
	}
	box-shadow: 1px 1px 1px gray;
	-webkit-box-shadow: 1px 1px 1px gray;
	-moz-box-shadow: 1px 1px 1px gray;
	a
	{
		text-decoration: none;
		outline: 0;
	}
	.menu
	{
		#menu_dropdown
		{
			color: white;
			text-shadow: black 0px 1px 1px;
			padding: 12px;
			font-size: 14px;
			font-weight: bold;
			.caret
			{
				border-top-color: white !important;
				border-bottom-color: white !important;
			}
		}
	}
	#loginForm
	{
		padding: 10px;
		margin-bottom: 10px;
	}
	.personal_buttons
	{
		a
		{
			display: inline-block;
			padding: 12px 0;
		}
		.icon-comment
		{
			color: #d7d7d7;
		}
		.icon-heart
		{
			color: #e95a4b;
		}
		padding-right: 10px;
		border-right: solid 1px hsl(0, 0%, 0%);
	}
	.personal_menu
	{
		#personal_dropdown
		{
			color: white;
			text-shadow: black 0px 1px 1px;
			padding: 12px;
			border-left: solid 1px black;
			font-family: 'ReklameScriptRegularRegular';
			font-size: 22px;
			img
			{
				height: 31px;
				width: 31px;
				margin: -7px 10px;
			}
			.caret
			{
				border-top-color: white !important;
				border-bottom-color: white !important;
			}
		}
	}
	.signup_btn
	{
		a 
		{
			color: white;
			text-shadow: black 0px 1px 1px;
			padding: 12px;
			font-size: 20px;
			font-family: 'ReklameScriptRegularRegular';
		}
	}
}
.main-logo
{
	display: inline-block;
	width: 125px;
	height: 100%;
	margin: 0 15px;
	background-image: url(/img/header/logo.png);
	background-size: 100%;
}

