@color: #111111; //#499bea;
@stop-color: #27282b; //#207ce5;
@compact-width: 800px;
@btn-contains-height: 22px;
body
{
	padding: 0;
}
#header
{
	.navbar-inner
	{
		.container
		{
			background: @color;
			background: -moz-linear-gradient(top, @color 0%, @stop-color 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@color), color-stop(100%,@stop-color));
			background: -webkit-linear-gradient(top, @color 0%,@stop-color 100%);
			background: -o-linear-gradient(top, @color 0%,@stop-color 100%);
			background: -ms-linear-gradient(top, @color 0%,@stop-color 100%);
			background: linear-gradient(to bottom, @color 0%,@stop-color 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color', endColorstr='@stop-color',GradientType=0 );
		}
	}
	.header_logo
	{
		height: 100%;
		margin-left: 20px;
		img
		{
			width: 120px;
		}
	}
	box-shadow: 1px 1px 1px gray;
	-webkit-box-shadow: 1px 1px 1px gray;
	-moz-box-shadow: 1px 1px 1px gray;
	a
	{
		text-decoration: none;
		outline: 0;
	}
	.menu
	{
		#menu_dropdown
		{
			color: white;
			text-shadow: black 0px 1px 1px;
			padding: 12px;
			.caret
			{
				border-top-color: white !important;
				border-bottom-color: white !important;
			}
		}
	}
	.personal_buttons
	{
		a
		{
			display: inline-block;
			padding: 10px 0;
		}
		margin-right: 10px;
	}
	.personal_menu
	{
		#personal_dropdown
		{
			color: white;
			text-shadow: black 0px 1px 1px;
			padding: 12px;
			.caret
			{
				border-top-color: white !important;
				border-bottom-color: white !important;
			}
		}
	}
}
.main-logo
{
	display: inline-block;
	width: 125px;
	height: 100%;
	margin: 0 15px;
	background-image: url(/img/header/logo.png);
	background-size: 100%;
}

