@color: #366FBC; //#499bea;
@stop-color: #2A5691; //#207ce5;
@footer-color: #404042;
@compact-width: 800px;
@btn-contains-height: 22px;
@header-height: 50px;

body
{
	padding: 0;
}

#header
{
	/* Hide all filters and tools */
	#search-button,
	#compact-filter,
	#expanded-filter,
	#personal-buttons
	{
		display: none;
	}
}
.top-bar
{
	/* Hide topbar components */
	#sublet-post,
	#left-options
	{
		display: none;
	}
}


#landing-footer
{
	background-color: @footer-color;
	position: fixed;
	z-index: 3;
	bottom: 0;
	height: 80px;
	width: 100%;

	#slogan
	{
		text-align: center;
		width: 100%;
		font-size: 32px;
		padding-top: 30px;
		color: white;
		text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);

	}
}

.float
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#logo
{
	display: inline-block;
	font-size: 32px;
	color: white;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
	margin-left: 15px;
	margin-top: 15px;
}



#search-div
{
	@search-width: 570px;
	@s-btn-width: 100px;
	@radius: 3px;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
	padding: 25px;
	width: @search-width;
	height: 200px;
	background-color: rgba(0, 0, 0, 0.75);
	box-shadow: 2px 4px 10px gray;
	-webkit-box-shadow: 2px 4px 10px gray;
	-moz-box-shadow: 2px 4px 10px gray;
	
	h2
	{
		color: white;
		text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
	}

	.dropdown-menu
	{
		right: 26px;
	}
	
	#search-btn
	{
		width: @s-btn-width;
		height: 30px;
	}
	#search-text
	{
		margin-top: 0;
		width: @search-width - @s-btn-width - 28;
	}
	.btn-group
	{
		width: @search-width;
		margin-bottom: 10px;
		.btn
		{
			width: @search-width / 3;
		}
	}
}

.img-ratio
{
	position: relative;
	width: 200px;
	height: 0;
	padding-bottom: 100%;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#photo-background
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	td
	{
		padding: 0;
	}
}

.img-faded
{
	opacity: 0.5;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;

	&:hover
	{
		opacity: 0.8;
	}
}

.top-bar
{
	position: fixed;
	z-index: 1000;
	height: 25px;
	width: 100%;
	.post-button
	{
		-moz-box-shadow:inset 0px 1px 0px 0px #fed897;
		-webkit-box-shadow:inset 0px 1px 0px 0px #fed897;
		box-shadow:inset 0px 1px 0px 0px #fed897;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6b33d), color-stop(1, #d29105) );
		background:-moz-linear-gradient( center top, #f6b33d 5%, #d29105 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d', endColorstr='#d29105');
		background-color:#f6b33d;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		border:1px solid #eda933;
		display:inline-block;
		color:#000000;
		font-family:arial;
		font-size:12px;
		font-weight:bold;
		padding:0px 14px;
		text-decoration:none;
		text-shadow:1px 1px 0px #cd8a15;
		margin: 1px 10px 0px 10px;

		&:hover
		{
			background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d29105), color-stop(1, #f6b33d) );
			background:-moz-linear-gradient( center top, #d29105 5%, #f6b33d 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29105', endColorstr='#f6b33d');
			background-color:#d29105;
		}

		&:active
		{
			position:relative;
			top:1px;
		}
	}
	ul
	{
		margin-top: 2px;
		margin-bottom: 0;
		margin-right: 10px;
		margin-left: 10px;
		a
		{
			color: gray;
			text-decoration: none;
			transition: color .25s ease-in-out;
			-moz-transition: color .25s ease-in-out;
			-webkit-transition: color .25s ease-in-out;
			&:hover
			{
				color: white;
			}
		}
		.active
		{
			a { color: white; }
		}
	}
}

.angled {
	background-size: 50px 50px;
	background-color: black;
	background-image: -webkit-gradient(linear, 0 100%, 100% 0,
		color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
		color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
		color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
			to(transparent));
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
		transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
		transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
		transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
		transparent 75%, transparent);
	background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
		transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
		transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
		transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
		transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
		transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
		transparent 75%, transparent);
}
