@color: #366FBC; //#499bea;
@stop-color: #2A5691; //#207ce5;
@footer-color: #404042;
@compact-width: 800px;
@btn-contains-height: 22px;
@header-height: 50px;

#layoutsContainer
{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url(/img/landing/background_wood_large.jpg)
}

.fb-like-box
{
	position: absolute !important;
	bottom: 30px;
	left: 30px;
	background-color: hsla(0, 0%, 0%, 0.7);
	padding: 10px;
	box-shadow: inset 0 0 10px hsl(0, 0%, 0%);
	border-radius: 4px;
}

#mixpanel_link
{
	position:absolute;
	bottom:10px;
	right:10px;
}

#tweet_to_school
{
	font-family: 'ReklameScriptMediumRegular';
	font-size: 25px;
	color: hsl(205, 55%, 59%);
	text-shadow: 1px 1px 2px black;
	text-decoration: none;
	position: absolute;
	bottom: 15px;
	right: 0;
	left: 0;
	margin: auto;
	width: 270px;
}

#header
{
	background-image: none;
	background-color: hsla(0, 0%, 0%, 0);
	.navbar-inner
	{
		background-image: none;
		background-color: hsla(0, 0%, 0%, 0);
		border: none;
		.container
		{
			background-image: none;
			background-color: hsla(0, 0%, 0%, 0);
			a
			{
				background-color: hsla(0, 0%, 0%, 0);
			}
		}
	}
	.nav-btn
	{
		font-family: 'ReklameScriptMediumRegular';
		font-size: 25px;
		color: hsl(205, 55%, 59%);
		text-shadow: 1px 1px 2px black;
	}
	.nav-text
	{
		margin-top: 10px;
		font-family: 'ReklameScriptMediumRegular';
		font-size: 25px;
		text-shadow: 1px 1px 2px black;
	}
	#loginForm
	{
		padding: 10px;
		margin-bottom: 10px;
		.forgot_password
		{
			font-family: 'ReklameScriptMediumRegular';
			float: right;
		}
		.btn
		{
			background-color: #6289cc;
			border-bottom: solid 1px #6289cc;
			color: white;
			font-size: 12px;
			font-weight: bold;
			text-shadow: none;
			box-shadow: inset 0 0 5px hsl(217, 57%, 35%);
			background-image: none;
			text-transform: uppercase;
		}
		p
		{
			font-size: 8.5px;
			margin: -10px 0 10px 0;
			font-weight: bold;
		}
		.fb_login
		{
			padding: 0;
			img
			{
				margin-bottom: 10px;
			}
		}
	}
}

#landing-footer
{
	background-color: @footer-color;
	position: fixed;
	z-index: 3;
	bottom: 0;
	height: 80px;
	width: 100%;

	#slogan
	{
		text-align: center;
		width: 100%;
		font-size: 32px;
		padding-top: 30px;
		color: white;
		text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);

	}
}

.float
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	img
	{
		display: block;
		margin: auto;
		margin-bottom: 20px;
	}
}

#logo
{
	display: inline-block;
	font-size: 32px;
	color: white;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
	margin-left: 15px;
	margin-top: 15px;
}

#slogan
{
	width: 450px;
	line-height: 32px;
	text-shadow: 1px 1px 3px black;
	margin-bottom: 20px;
}

.small_font, .large_font
{
	font-family: 'Fava Black';
	color: white;
	font-style: normal;
	text-transform: uppercase;
}

.small_font
{
	font-size: 30px;
}

.large_font
{
	font-size: 40px;
}

.blue_font
{
	color: #5ba0d0;
}

#subprobs
{
	position: absolute;
	bottom: 10px;
	right: 0;
	left: 0;
	text-align: center;
	a
	{
		font-size: 20px;
		position: absolute;
		bottom: 10px;
		width: 250px;
		text-align: center;
		margin: auto;
		color: gray;
		text-decoration: none;
		transition: color .25s ease-in-out;
		-moz-transition: color .25s ease-in-out;
		-webkit-transition: color .25s ease-in-out;
		&:hover
		{
			text-decoration: none;
			color: white;
		}
	}
}

table
{
	width: 350px;
	margin: 20px auto auto auto;
	font-weight: bold;
	text-decoration: none;
	a
	{
		color: gray;
		text-decoration: none;
		transition: color .25s ease-in-out;
		-moz-transition: color .25s ease-in-out;
		-webkit-transition: color .25s ease-in-out;
		&:hover
		{
			text-decoration: none;
			color: white;
		}
	}
}


#search-div
{
	@search-width: 350px;
	@s-btn-width: 50px;
	@radius: 3px;
	@height-input: 30px;
	padding: 25px;
	position: absolute;
	height: 500px;
	width: 450px;
	margin: auto;
	
	h1
	{
		color: white;
		text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
		text-align: center;
		font-size: 50px;
	}
	form
	{
		margin: 0;
		position: relative;
		#search-submit
		{
			&:hover
			{
				cursor: pointer;
			}
			position: absolute;
			top: 0;
			right: 5px;
			font-size: 28px;
			margin-top: 10px;
			color: hsl(0, 100%, 100%);	
		}
	}
	#post-btn
	{
		margin-right: 5px;
		@radius: 3px;
		@width: 80px;
		height: @height-input;
		width: @width;
		-webkit-border-radius: @radius;
		-moz-border-radius: @radius;
		-ms-border-radius: @radius;
		-o-border-radius: @radius;
		border-radius: @radius;
		font-size: 25px;
		line-height: 30px;
		font-weight: bold;
		box-shadow: 0px 0px 4px black;
		-webkit-box-shadow: 0px 0px 4px black;
		-moz-box-shadow: 0px 0px 4px black;
		-o-box-shadow: 0px 0px 4px black;
		color: #08298A;
	}
	.blue-background
	{
		@baby-blue: #55a4d0;
		@radius: 3px;
		-webkit-border-radius: @radius;
		-moz-border-radius: @radius;
		-ms-border-radius: @radius;
		-o-border-radius: @radius;
		border-radius: @radius;
		background-color: @baby-blue; 
		padding: 5px;
		width: 336px;
		display: block;
		margin: auto;
	}
	.dropdown-menu
	{
		right: 80px;
		overflow: hidden;
		font-size: 16px;
	}
	
	#search-btn
	{
		width: @s-btn-width;
		height: 40px;
	}
	#search-text
	{
		&::-webkit-input-placeholder
		{
			color: white;
		}
		&::-moz-input-placeholder
		{
			color: white;
		}
		&:-moz-input-placeholder
		{
			color: white;
		}
		&:-ms-input-placeholder
		{
			color: white;
		}
		margin-top: 0;
		color: white;
		width: 100%;
		height: @height-input;
		font-size: 30px;
		z-index: 0;
		background-color: hsla(0, 0%, 0%, 0.3);
		box-shadow: inset 0 0 20px hsl(0, 0%, 0%);
		border: none;
		padding: 10px;
		margin-left: -5px;
		font-family: 'ReklameScriptMediumRegular';
		line-height: 36px;
		padding-right: 50px;
		width: 400px;
	}
	.btn-group
	{
		width: @search-width;
		margin-bottom: 10px;
		.btn
		{
			width: @search-width / 3;
		}
	}
}

.img-ratio
{
	position: relative;
	width: 200px;
	height: 0;
	padding-bottom: 100%;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.angled {
	background-size: 50px 50px;
	background-color: black;
	background-image: -webkit-gradient(linear, 0 100%, 100% 0,
		color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
		color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
		color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
			to(transparent));
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
		transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
		transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
		transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
		transparent 75%, transparent);
	background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
		transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
		transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
		transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
		transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
		transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
		transparent 75%, transparent);
}
