#login_signup
{
	position: absolute;
	top: 75px;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 25px 50px;
	#login_row
	{
		height: 100%;
		background-color: #E0E0E0;
		border: solid 1px gray;
		box-shadow: 2px 2px 5px gray;
	}
	.divider
	{
		margin-top: 25px;
		height: 2px;
		background-color: black;
		text-align: center;
		span
		{
			background-color: white;
			position: relative;
			top: -0.5em;
		}
	}
	#logo_footer
	{
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		text-align: center;
	}
	#login_content
	{
		min-width: 350px;
		height: 100%;
		padding: 20px;
		background-color: white;
		box-shadow: 2px 2px 5px gray;
	}
	#signup_content
	{
		height: 100%;
		padding: 20px;
		background-color: white;
		box-shadow: 2px 2px 5px gray;
		h6
		{
			margin: 0;
		}
		#fb-signup
		{
			img
			{
				margin-bottom: 20px;
			}
		}
		.signup-btn
		{
			margin-top: 20px;
		}
	}
	#user_type_select
	{
		margin-left: 40px;
	}
	.personal_data
	{
		margin-top: 20px;
	}
}