#left_content
{
	#navigation-bar
	{
		@background-color: #E0E0E0;
		padding: 0;

		li
		{
			height: 40px;
			line-height: 40px;
			border-bottom-style: solid;
			border-bottom-color: #D8D8D8;
			border-bottom-width: 1px;
			font-weight: bold;
			padding-left: 5px;
			a
			{
				font-size: 13px;
				color: #383838;
				padding: 0;
				width: 100%;
				margin: 0;
			}

			.item-count
			{

			}
		}
		li + .active
		{
			color: blue;
		}
		li + .spacer
		{
			height: 30px;
			background-color: @background-color;
			-moz-box-shadow: inset 0px 0px 5px 0px #C0C0C0;
			-webkit-box-shadow: inset 0px 0px 5px 0px #C0C0C0;
			box-shadow: inset 0px 0px 5px 0px #C0C0C0;
		}
		#create-listing
		{
			a
			{
				color: #009966;
			}
		}
	}

	.list-dropdown
	{
		background-color: #E0E0E0;
		-webkit-box-shadow: inset 0 0 5px 0 hsl(0, 0%, 50%);
		-moz-box-shadow: inset 0 0 5px 0 hsl(0, 0%, 50%);
		box-shadow: inset 0 0 5px 0 hsl(0, 0%, 50%);
		li:not(.nav-header)
		{
			font-size: 13px;
			height: 35px;
			line-height: 35px;
			border-bottom-style: solid;
			border-bottom-color: #D8D8D8;
			border-bottom-width: 1px;
			color: hsl(0, 0%, 50%);
			text-shadow: hsla(0, 100%, 100%, 0.498039) 0px 1px 0px;
			font-weight: bold;

			&:hover
			{
				cursor: pointer;
			}
		}
	}

	.nav-header
	{
		border-bottom-style: solid;
		border-bottom-color: #D8D8D8;
		border-bottom-width: 1px;
		height: 20px;
		line-height: 20px;
	}
}
