.slick-header, .slick-viewport
{
	font-size: 12px;
}

.grid_checkbox
{
	text-align: center;
}
.slick-cell
{
	input[type="text"]
	{
		padding: 0;
		height: 100%;
		width: 100%;
	}
	input[type="checkbox"]
	{
		margin: 0;
	}
	border: none;
	border-style: none !important;
	line-height: 35px;
	.text-error
	{
		color: hsl(1, 45%, 50%) !important;
	}
	.text-success
	{
		color: hsl(121, 32%, 40%) !important;
	}
	.required
	{
		border-color: hsl(2, 81%, 55%);
		-webkit-box-shadow: 0 0 6px hsl(2, 82%, 85%);
		-moz-box-shadow: 0 0 6px #f8b9b7;
		box-shadow: 0 0 6px hsl(2, 82%, 85%);
	}
}