/* Ajax Add 1 */

.sublet-ajax-1{

}
/*#correctLocationMap{
	width: 100%;
}*/
.subin{
	padding-top: 5px;
	padding-bottom: 5px;
}

.sublet-ajax-1 label{
	font-weight: bold;
}

#sublet_register_screen2 {
	background-color: #aaaaaa;
	margin-top: 20px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#universityNameLabel
{
	width: 110px;
	margin-left: 0px;
}

#universityName
{
	width:338px;
}