#main_content{
	padding: 0;
	background-color: #F8F8F8;	
	margin: 0px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 400;
	position: absolute;
	top: 45px;
	right: 0;
	left: 0;
	bottom: 0;
	min-height: 600px;
}
#main_content > div{
	height: 100%;
}

#account-content-wrapper{
	height: 100%;
}

.shadowed{
	box-shadow:  0 2.5px 7px #bdbdbd;
   	-o-box-shadow:  0 2.5px 7px #bdbdbd;
   	-webkit-box-shadow:  0 2.5px 7px #bdbdbd;
   	-moz-box-shadow:  0 2.5px 7px #bdbdbd;
}

#right_content{
	height: 100%;
	min-width: 250px;
	position: relative;
}

a:hover{
	text-decoration: none;
}

.hidden{
	display: none;
}



/******************************************************************************/
/********************************Left Side Content*****************************/
/******************************************************************************/

#left_content{
	height: 100%;
	position: relative;
	min-width: 200px;
	background-color: white;
	-webkit-box-shadow: inset 0 0 5px 0 hsl(0, 0%, 50%);
	-moz-box-shadow: inset 0 0 5px 0 hsl(0, 0%, 50%);
	box-shadow: inset 0 0 5px 0 hsl(0, 0%, 50%);
}


.content-header{
	/*
	position: relative;
	margin-top: 20px;
	height: 45px;
	z-index: 2;
	background: #f9f9f9;
	border: 2px solid #b7b1b1;
	line-height	: 45px;
	*/

	/*Disable Text Selection*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.content-header:hover{
	cursor: pointer;
}

.content-header > span{
	font-size: 16.67px;
	padding-left: 20px;
}

.toggle-drop-down{
	color: #808080;
	font-size: 20px;
	padding-left: 5px;
}

.header-count{
	position: absolute;
	height: 25px;
	top: 8px;
	right: 20px;

	padding-right: 10px;
	padding-left: 10px;


	background: #6298d4;
	border-radius: 5px;
	border: 2px solid #1f4a7d;
	
	color: #ffffff;

	font-size: 16.67px;
	font-weight: bold;
	line-height: 25px;
}

.drop-down{
	display: none;
	position: relative;
	top: -5px;
}


/* Toggled Classes used by the content headers */
.expanded{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.minimized{
	border-radius: 10px;	
}


/******************************************************************************/
/********************************Center Content********************************/
/******************************************************************************/

.cake-error
{
	display: none;
}

#middle_content{
	height: 100%;
	position: relative;
	margin-left: 20px;
	padding-top: 10px;
	/*margin-bottom: 2%;*/
	/*margin-bottom: 20px;*/
}

#middle_content > div{
	height: 100%;
}





.verified{
	position: absolute;
	font-size: 20px;
	right: 12px;
	top: 15px;
	color: #68c613;
	background-color: #f6f6f6;
}

.unverified{
	position: absolute;
	font-size: 20px;
	right: 12px;
	top: 15px;
	color: #bd1d1c;	
	background-color: #f6f6f6;
}




/* MISC */

.icon-edu{
	width: 20px;
	height: 20px;
}

.sprite-head{
	background:url(/img/head_sprite.png);
}
.sprite-head_large{ 
	background-position: 0 0; width: 350px; height: 350px; 

} 
.sprite-head_medium{ background-position: 0 -360px; width: 70px; height: 70px;} 
.sprite-head_small{ background-position: 0 -470px; width: 50px; height: 50px; } 

#backToMap
{
	background:url(/img/dashboard/return_button_sprite.png);
	background-position: 0 0; 
	width: 150px; 
	height: 38px;
	position:absolute;
	left:175px;
	top:6px;	
}

#backToMap:active
{
	background-position: 0 -48px; 
}

#backToMap:hover
{
	background-position: 0 -96px; 
	cursor:pointer;
}

