body
{
	margin: 0;
}

#flashMessage
{
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color:lightgray;
	width: 400px ;
  	margin-left: auto;
  	margin-right: auto;
	margin-top:20px;
	text-align: center;

}
#container
{
	position: absolute;
	z-index:1;
	height:100%;
	width:100%;
	margin:0px;
}
#logo
{
	height: 105%;
	width: 200px;
	background-image: url(/img/header/logo.png);
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	left: 45px;
	top: -1px;
}
#header
{
	height:55px;
	box-shadow: 2px 4px 10px gray;
    -moz-box-shadow: 2px 4px 10px gray;
    -webkit-box-shadow: 2px 4px 10px gray;
    z-index: 3;
    position: relative;
    background-image: url(/img/header/header_gridbg.jpg);
    background-repeat: repeat-x;
    background-size: 30px;
}
#header_right_bg
{
	position: absolute;
	top: 0;
	right: 0;
	height: 55px;
	width: 834px;
	background-image: url(/img/header/header_right.jpg);
	background-size: 100%;
	z-index: -1;
}
.topBarButton
{
	width:90px;
	height:35px;
	float:right;
	margin-right:5px;
	margin-top:5px;
}
#topBarButtonsDiv
{
	display:inline;
	height:50px;
	position: absolute;
	top: 0;
	right: 0;
}
.fb_login
{
	vertical-align:top;
	margin-top:15px;
	top: 9;
	right: 126px;
	float: right;
	position:absolute;
	height:30px;
	width:100px;
	visibility:visible;
}
#logout_link
{
	visibility:hidden;
	display:inline-block;
	position: absolute;
	top: 0;
	right: 150px;
}
#auth_logoutlink
{
	text-decoration:none;
}
#login_button
{
	height: 40px;
	width: 85px;
	background-image: url(/img/header/login.png);
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	right: 393px;
	top: 9px;
}
#logout_button
{
	height: 40px;
	width: 85px;
	background-image: url(/img/header/logout.png);
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	right: 393px;
	top: 9px;
}
.fb-like
{
	top: 18px;
	left: 245px;
}
.topbar:hover
{
	cursor:pointer;	
}

#about_button
{
	background-repeat: no-repeat;
	background-image: url(/img/header/about.png);
	position: absolute;
	height: 40px;
	width: 80px;
	background-size: 100%;
	right: 318px;
	top: 9px;
}
#contact_button
{
	background-repeat: no-repeat;
	background-image: url(/img/header/contact.png);
	position: absolute;
	height: 40px;
	width: 97px;
	background-size: 100%;
	right: 215px;
	top: 9px;
}
#sublease_button
{
	background-repeat: no-repeat;
	background-image: url(/img/header/sublease.png);
	position: absolute;
	height: 40px;
	width: 102px;
	background-size: 100%;
	right: 104px;
	top: 9px;
}
#donate_button
{
	background-repeat: no-repeat;
	background-image: url(/img/header/donate.png);
	position: absolute;
	height: 40px;
	width: 97px;
	background-size: 100%;
	right: 0px;
	top: 9px;
}
#about_button:hover
{
	background-image: url(/img/header/about_hover.png);
}
#contact_button:hover
{
	background-image: url(/img/header/contact_hover.png);
}
#login_button:hover
{
	background-image: url(/img/header/login_hover.png);
}
#logout_button:hover
{
	background-image: url(/img/header/logout_hover.png)
}
#sublease_button:hover
{
	background-image: url(/img/header/sublease_hover.png)
}
#donate_button:hover
{
	background-image: url(/img/header/donate_hover.png)
}
@media only screen and (max-width: 960px) {
    #header_right_bg {
        display: none;
    }
    .topbar
    {
    	display: none;
    }
}
