.listings_list
{
	margin-top: 7px;
	margin-bottom: 10px;
	height: 25px;
	width: 100%;
	line-height: 25px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
}


.listings_list{
	min-height: 250px;
	overflow: auto; 
	border-bottom: 1px solid #cacaca;
}

.listing-list-item{
	padding: 5px;
	background-color: #f4f4f4;
	border-right: 1px solid #cacaca;
	border-left: 1px solid #cacaca;
	border-bottom: 1px solid #cacaca;
}

.listing-list-item:hover{
	cursor:pointer;
	background-color:#819FF7;
}