
/* Left Content */


#conversations_list_header{
	/*color: white;*/
}

#unread_conversations_count{
	
}

#conversation_controls{
	background-color: #f4f4f4;
	border-right: 1px solid #cacaca;
	border-left: 1px solid #cacaca;
	border-bottom: 1px solid #cacaca;
	padding-left: 20px;
	padding-right: 20px;

	padding-top: 10px;
	padding-bottom: 2px;
}
#conversation_controls a{
	float: right;
}


.conversation_list{
	max-height: 250px;
	overflow-x: hidden;
	overflow-y: auto;
	/*top: -5px;*/
	border-bottom: 2px solid #cacaca;
}

#view_unread_cb{
	vertical-align: text-bottom;
}
	/*Conversation list item styling*/

	.conversation_list_item{
		position: relative;
		height: 65px;
		/*width: 100%;*/
		font-size: 14px;
	}

	.conversation_list_item:hover{
		cursor: pointer;
	}


	.unread_conversation{
		background-color: #f4f4f4;
		border-right: 1px solid #cacaca;
		border-left: 1px solid #cacaca;
		border-bottom: 1px solid #cacaca;
	}

	.read_conversation{
		background-color: #f4f4f4;
		border-right: 1px solid #cacaca;
		border-left: 1px solid #cacaca;
		border-bottom: 1px solid #cacaca;

		color: #7f7f7f;	

	}

		.read_conversation img{
			filter: grayscale(100%);
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-ms-filter: grayscale(100%);
			-o-filter: grayscale(100%);
		}

		.read_conversation a{
			color: #7f7f7f;
		}

	.selected_conversation{
		background-color: #FFFFFF;
		border-right: 1px solid #7e7c7c;
		border-left: 1px solid #7e7c7c;
		border-bottom: 1px solid #7e7c7c;

	}

	.last_message{
		white-space: nowrap;
      	overflow: hidden;
      	o-text-overflow: ellipsis;
      	text-overflow: ellipsis;

		/*width: 100%;*/
		/*height: 14px;
		line-height: 5px;
		display: block;*/
		/*word-wrap: break-word; */
		/*text-overflow: ellipsis;*/
	}

	.unread_message_count, .conv_list_item_time_ago{
		float: right;
	}

	.conversation_info{
		position: absolute;
		top: 8px;
		bottom: 8px;
		left: 20px;
		right: 20px;
		overflow: hidden;


	}
	.conversation_info > div{
		display: inline;
	}

	.conversation_title > a:hover{
		color: #0645AD;
	}


/* Middle Content */



#messaging_window{
	width: 100%;
	position: absolute;
	top: 20px;
	bottom: 100px;
}

#participant_info_short{
	/*display: none;*/
	height: 55px;
	background-color: #f9f9f9;
	border: 2px solid #b7b1b1;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	font-size: 19.44px;

	line-height: 55px;

}
#participant_info_short > div{ /*Wrapper*/
	height: 100%;
	width: 100%;
	font-size: 22px;
	padding-left: 20px;
}

#participant_info_short > div > img{
	width: 40px;
	height: 40px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 5px;
}

#participant_info_short strong:first-child{
	padding-left: 20px;
}

#conversation_toolbar{
	float: right;
	margin-right: 10px;
}

#conversation_toolbar i{
	padding-left: 10px;
	padding-right: 10px;
}

#conversation_toolbar i:hover{
	color: #7f7f7f;
	cursor: pointer;
}

#current_conversation{
	overflow-y: auto;
	display: block;
	
	position: absolute;
	top: 55px;
	bottom: 150px;
	
	padding-top: 10px;
	padding-bottom: 10px;
	
	border: 2px solid #b7b1b1;
	width: 100%;

	background-color: #f6f6f6;

	z-index: 2;

	
}

.mli{
	position: relative;
	height: auto;
	margin-top: 25px;
}


.mli-left-side{
}

/*.mli-left-side img{
	position: absolute;
	left: 35px;
	border-radius: 5px;
}*/

.arrow-left{
	position: absolute;
	left: 96px;
	top: 15px;
	z-index: 10001;
}

.arrow-right{
	position: absolute;
	right: 96px;
	top: 15px;
	z-index: 10001;	
}

.participant_message_pic img{
	height: 70px;
	width: 70px;
	border-radius: 5px;
}

.mli-left-side .participant_message_pic{
	float: left;
	padding-left: 20px;
}

.mli-right-side .participant_message_pic{
	float: right;
	padding-right: 20px;
}

.message_bubble{
	/*position: absolute;*/
	background-color: #ffffff;
	border-radius: 5px;
	border: 1px solid #9b9b9b;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.message_bubble > div{
	

}

.bubble-top-row{

}
.message_body{
	word-wrap: break-word;
}

.mli-left-side .message_bubble{
	margin-left: 105px;
	margin-right: 185px;
}

.mli-right-side .message_bubble{
	margin-left: 185px;
	margin-right: 105px;
}	

.time-ago{
	float: right;
	font-size: 10px;
}



#message_reply{ 
	position: absolute;
	bottom: 0;

	height: 150px;

	background-color: #e5e4e4;
	
	border: 2px solid #b7b1b1;
	/*vertical-align: middle;*/
	/*border: 2px solid #b7b1b1;*/

}
#message_reply > div{
	height: 100%;
	width: 100%;
	position: relative;
}


#message_reply img:first-child{
	position: absolute;
	top:15px;
	right: 20px;
	height: 70px;
	width: 70px;
	border-radius: 5px;
}

.bump{
	position: absolute;
	right: 97px;
	top: 35px;
	z-index: 10001;	
}

#message_text{
	position: absolute;
	top: 15px;
	bottom: 20px;
	right: 120px;
	left: 20px;
}

#message_text > textarea{
	width: 100%;
	height: 100%;
	border-radius: 5px;
	border: 1px solid #9b9b9b;


}

#send_reply{
	position: absolute;
	top: 110px;
	width: 70px;
	text-align: center;
	right: 20px;
}

#messages_list{
	position: absolute;
	background-color: #f6f6f6;
}


/* Right Content */


#participant_info{

	background: #fbfbfb;
	margin-top: 20px;
	border: 2px solid #b7b1b1;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	/*z-index: 10001;*/
}
#participant_pic_large{
	margin-top: 7px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 7px;
	border-radius: 5px;
	
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	background-color: #f7f7f7;

	border: 2px solid #d2d2d2;
}

#participant_pic_large img{
	border: 2px solid #50574f;
}

#participant_name{
	font-size: 22px;
	margin-left: 12px;
}

p.participant-university{
	font-size: 18px;
	margin-left: 12px;
}

.tw{
	color: #9AE4E8;
}

.fb{
	color: #3B5998;
}

#verification-panel{
	border-left: 1px solid #b7b1b1;
	border-right: 1px solid #b7b1b1;
	border-top: 1px solid #b7b1b1;
}

#verification-panel > div{
	position: relative;
	min-height: 30px;
	padding-left: 50px;
	font-size: 16px;
	padding-top: 15px;
	border-bottom: 1px solid #b7b1b1;
	background: #f6f6f6;
}

#verification-panel > div > i:first-child{
	position: absolute;
	font-size: 20px;
	left: 12px;
	top: 15px;
}

#verification-panel > div > img:first-child{
	position: absolute;
	/*font-size: 20px;*/
	left: 12px;
	top: 15px;
}


#meaning{
	cursor: pointer;
	margin-top: 10px;
	width: 100%;
	text-align: right;
}
#hidden-meaning{
	display: none;
	width: 100%;
}

#user_unverified{
	margin-top: 15px;
	min-height: 50px; 
	position: relative;
	border-radius: 5px;
	border: 2px solid #cec59e;
	background-color: #f8edc0;
}

#user_unverified > i{
	
	font-size: 28px;
	padding-left: 5px;
	float: left;
}

#user_unverified > div{
	position: absolute;
	left: 35px;
	right: 5px;
	top: 5px;
	bottom: 5px;
	font-size: 16px;
}

#user_unverified > div > span:last-child{
	color: #bd1d1c;
}







