#grayBackground
{
	position: fixed;
	background-color: gray;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	z-index: 3;
	display: none;
	top: 0;
}
#grayBackground:hover
{
	cursor: pointer;
}
.popupContent
{
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 4;
	padding: 30px;
	background-color: white;
	color: black;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	-moz-box-shadow: 10px 10px 20px gray;
	-webkit-box-shadow: 10px 10px 20px gray;
	box-shadow: 10px 10px 20px gray;
	border-radius: 4px;
	display: none;
}
#aboutPopup
{
	margin-top: -258px;
	margin-left: -313px; 
	width: 596px;
	height: 516px;
	font-size: 13px;
}
#termsPopup
{
	margin-top: -258px;
	margin-left: -350px; 
	width: 700px;
	height: 516px;
	font-size: 12px;
	padding-top: 10px;
}
#subleasePopup
{
	margin-top: -65px;
	margin-left: -125px; 
	width: 250px;
	height: 130px;
	font-size: 14px;
	padding-top: 10px;
}
#donatePopup
{
	margin-top: -65px;
	margin-left: -125px; 
	width: 250px;
	height: 130px;
	font-size: 14px;
	padding-top: 10px;
}
#teamLabel
{
	margin-top: 15px;
	margin-bottom: 2px;
	font-weight: bolder;
	font-size: 30px;
	width: 100%;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: black; 
}
#termsDiv
{
	font-size: 12px;
	width: 159px;
	position: absolute;
	bottom: 2px;
	right: 285px;
	z-index: 2;
	background-color: #F2F2F2;
	font-family: "Helvetica Neue Medium", Helvetica, sans-serif;
	color: #484848;
}
#termsDiv:hover
{
	cursor: pointer;
}
#contactPopup
{
	padding: 0;
	margin-top: -175px;
	margin-left: -250px; 
	width:550px;
	height:350px;
	background-image: url(/img/popup/contact_page.jpg);
}

#contactPopup a
{
	text-decoration: none;
	color: transparent;
}

#twitterLinkDiv
{
	position: absolute;
	height: 40px;
	width: 134px;
	top: 165px;
	right: 134px;
}

#facebookLinkDiv
{
	position: absolute;
	height: 40px;
	width: 240px;
	top: 218px;
	right: 25px;
}

#mailToLinkDiv
{
	position: absolute;
	height: 40px;
	width: 240px;
	top: 270px;
	right: 35px;
}
#loader
{
	position: fixed;
	margin-top: -25px;
	margin-left: -25px;
	top: 50%;
	left: 50%;
	height: 50px;
	width: 50px;
	-moz-box-shadow: 10px 10px 20px gray;
	-webkit-box-shadow: 10px 10px 20px gray;
	box-shadow: 10px 10px 20px gray;
	border-radius: 4px;
	background-color: white;
	opacity: 0.8;
	display: none;
}
#loader img
{
	height: 100%;
	width: 100%;
}

#aboutPopup table {
	width: 100%;
	padding: 10px;
	margin-left: 10px;
}
.popupContent .name { font-size: 20px; }

#paypal
{
	position: absolute;
	top: 32px;
	right: 32px;
}

.close_button {
	position: absolute;
	top: -8px;
	right: -8px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial Black;
	font-size:12px;
	font-weight:bold;
	padding:3px 7px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none;
}.close_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	cursor: pointer;
}.close_button:active {
	top:-7px;
}
