
.post-sublet-progress{
    position: relative;
    width: 340px;
    height: 50px;
}

.prog-step{
    position: relative;
    height: 50px;
    width: 85px;
    float: left;
    /*text-align: center;*/
}


.prog-step p {
    text-align: center;
    /*top: 0;*/
    color: #dcdcdc;
}

.prog-step i {
    position: absolute;
    left: 35px;
    top: 35px;
    font-size: 18px;
}

.background-icon{
    color: white;
}

.incomplete-step{
    color: #e03434;
}

.current-step{
    color: #d5d8e3;
}

.complete-step{
    color: #5f9229;
}



.horz-bar{
    position: absolute;
    top: 41px;
    right: -25px;
    height: 4px;
    width: 50px;
    background-color: #c2c2c2;
}