fieldset
{
	border:none;
}

.fileInput
{
	width:204px;
	float:left;
}

#progressBar
{
	width:0%;
	max-width:200px;
    height: 12px;
    background: blue;
}

.imageContent
{
	/*display: block;*/
	line-height: 150px;
	height: 150px;
	width: 100%;

	/*background-color: #616565;*/

}
.imageContent:hover
{
	cursor:pointer;
}

.imageThumb > img
{
	/*width:150px;*/
	/*display: block;
	margin: auto;*/
	vertical-align: middle;
	border-radius: 5px;
	max-height: 150px;
}

.imageContainer
{	
	border-radius: 5px;
	position: relative;
	background-color: #333;
	color: #DDD;
	text-align: center;
	/*width:150px;
	height:150px;*/
	/*margin-left:10px;*/
	/*margin-top:2px;*/
}

.image-actions-container{
    /*display: none;*/
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
	opacity: .7;
	background-color: #333;
	color: white;

}

.image-actions-container > i:hover{
	cursor: pointer;
}



.unselected
{
	box-shadow: 2px 4px 10px gray;
    -moz-box-shadow: 2px 4px 10px gray;
    -webkit-box-shadow: 2px 4px 10px gray;
}

.selected
{
	box-shadow: 2px 4px 10px blue;
    -moz-box-shadow: 2px 4px 10px blue;
    -webkit-box-shadow: 2px 4px 10px blue;
}

#caption{
	padding-top: 5px;
}

.hide
{
	visibility: hidden;
}

#imageContent0
{
	height:280px;
	width:280px;
	line-height: 280px;
	background-color: #333;
	border-radius: 5px;
	color: white;
	text-align: center;
}

#imageContent0 img{
	vertical-align: middle;
	border-radius: 5px;
	max-width: 280px;
	max-height: 280px;

}

#captionInput
{
	width:158px;
}

#container
{
	z-index:1;
}

.image-row{
	padding-top: 5px;
}




