<IfModule mod_rewrite.c>
   RewriteEngine on
	 RewriteCond %{REQUEST_URI} ^/img/
	 RewriteRule ^img/(.*)$ https://s3-us-west-2.amazonaws.com/cribspot-img/$1 [R=301,L]
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>
