#tooltip
{
	height: 100%;
	width: 100%;
	background-color: white;
	-moz-box-shadow: inset -0 0 4px black;
   	-webkit-box-shadow: inset 0 0 4px black;
   	box-shadow: inset 0 0 4px black;
   	position: relative;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	overflow: hidden;
}
#addFavoriteImg:hover
{
	cursor:pointer;
}
#tooltipWrapper
{
	display:none;
	position:absolute;
	z-index:0;
}	
#tooltipAddress
{
	position: absolute;
	font-weight: bolder;
	top: 7px;
	left: 3px;
}
#addressRow
{
  position:relative;
  width:100%;
  height:30px;
  border-bottom-style:solid;
  border-bottom-width:3px;
  border-bottom-color:gray;
  z-index:1;
}
#addressRowButtons
{
	position: absolute;
	top: 4px;
	right: 3px;
}	
#addFavoriteImg
{
	height:80%;
	width:25px;
	vertical-align:middle;
}
#shareButton
{
	vertical-align:middle;
}
.tooltipLabel
{
	margin-left:5px;
}

#tooltipPic
{
	float: left;
	height:100%;
	width: 100%;
	display:inline;	
	text-align:center;
}
#houseDataDiv
{
	position: absolute;
	top: 30px;
	bottom: 0px;
	width:100%;
	font-size: 14px;
	white-space: nowrap;
}
#dataLeftColumn
{
	position: absolute;
	top: 0;
	right: 175px;
	left: 0;
	bottom: 0;
	padding-top: 7px;
	padding-left: 3px;
	font-weight: bold;
}
#dataRightColumn
{
	position: absolute;
	top: 0;
	right: 0;
	left: 90px;
	bottom: 0;
	padding-top: 7px;
	padding-left: 5px;
	border-left-style:solid;
	border-left-width:3px;
	border-left-color:gray;
}
.multiBubble
{
	position: relative;
	background-color: white;
	width: 95%;
	height: 50px;
	margin: 0 auto 4px auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 0 0 4px gray;
   	-webkit-box-shadow: 0 0 4px gray;
   	box-shadow: 0 0 4px gray;
}
.multiBubble:hover
{
	cursor: pointer;
	background-color:#CED8F6;
}
.multiBubbleContainer
{
	overflow-y: auto;
	position: absolute;
	top: 30px;
	bottom: 0;
	right: 0;
	left: 0;
	padding-top: 6px;
	background-color: #D0D0D0;
}
.multiBubbleText
{
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	font-size: 12px;
	padding: 7px;
}
